@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #app {
    @apply font-default text-base text-dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    @apply text-link hover:underline;
    text-decoration: none;
  }
  i {
    @apply flex justify-center items-center;
  }
  button {
    @apply h-10 px-10 shadow-md rounded-md cursor-pointer font-bold text-sm text-dark;
    @apply duration-150 ease-in-out transform focus:outline-none active:scale-95;
    text-decoration: none;
    letter-spacing: 0.5px;
  }
  .heading {
    @apply font-bold font-heading text-4xl lg-above:text-5xl;
  }
  .heading-2 {
    @apply font-semibold font-heading text-xl lg-above:text-2xl;
  }
  .heading-3 {
    @apply font-bold font-default text-lg tracking-wide;
  }

  .hover-pop {
    @apply transform duration-300 hover:scale-125;
  }

  /* Fade transition */
  .transition-fade-enter-active, .transition-fade-leave-active {
    transition: opacity .3s ease;
  }
  .transition-fade-enter, .transition-fade-leave-to {
    opacity: 0;
  }

  /* Bounce transition */
  .transition-pop-enter-active {
    animation: pop-in .35s;
  }
  .transition-pop-leave-active {
    animation: pop-in .2s reverse;
  }
  @keyframes pop-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
